{% extends "base.html" %}
{% block content %}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" action="/user/regist" method="post">
                <span class="login100-form-title mb-30">
                    Update User
                </span>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ messages[0] }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                {% endwith %}
                    <div class="wrap-input100 validate-input">
                        {{ form.name(class="input100") }}
                        <span class="focus-input100" data-placeholder="Name"></span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        {{ form.email(class="input100") }}
                        <span class="focus-input100" data-placeholder="Email"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <span class="btn-show-pass">
                            <i class="zmdi zmdi-eye"></i>
                        </span>
                        {{ form.password(class="input100") }}
                        <span class="focus-input100" data-placeholder="Password"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter Password Confirm">
                        <span class="btn-show-pass">
                            <i class="zmdi zmdi-eye"></i>
                        </span>
                        {{ form.password_confirm(class="input100") }}
                        <span class="focus-input100" data-placeholder="Password Confirm"></span>
                    </div>
                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Update Profile
                            </button>
                        </div>
                    </div>
                    {{ form.hidden_tag() }}
                </form>
            </div>
        </div>
    </div>
{% endblock content %}